.header {
  display: flex;
  background-color: #3f51b5;
  gap: 10px;

  &-item {
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
  }

  & .active {
    color: cyan;
  }
}
