<mat-toolbar class="header">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="header-item">home</a>
  <a routerLink="/add" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="header-item">add</a>
  <a routerLink="/delete" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    class="header-item">delete</a>
  <a routerLink="/update" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    class="header-item">update</a>
</mat-toolbar>